.form{
    display: flex;
    margin: 0 auto;
    /* text-align: center; */
    justify-content: center; 
    margin: 1rem 0;
    margin-bottom: 2rem;
    /* align-items: center;  */
}
img{
    border-radius: 50%;
    height: 128px;
    width: 128px;

}
.result{
    display: none;
    grid-template-columns: 1fr 3fr;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 16px 0;
    box-sizing: border-box;
    background-color: #4B7BEC;
}
.container{
    width: 724px;
    margin: 0 auto;
}
body{
    background-color: #4797EF;
    text-align: center;
    padding-top: 35vh;
}
.main >p{
    color: white;
    font-family: "Ubuntu Mono", monospace;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
#userField{
    padding: 1rem;
    font-size: 1rem;
    width: 80%;
    background-color: #4B7BEC;
    border: none;
    font-family: "Ubuntu Mono", monospace;
    color: #fff;
    font-weight: 600;
}
#searchButton{
    padding: 12px;
    width: 20%;
    color: #45aaf2;
    font-size: 1rem;
    font-family: "Ubuntu Mono", monospace;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
#userField::placeholder{
    color: rgb(240, 231, 231);
}
p{
    color: white;
    font-family: "Ubuntu Mono", monospace;
    text-align: left;
    font-weight: 600;
}

.loading{
    /* display: none; */
    text-align: center;
}